CONFIG_OTA_URL="https://drive.google.com/uc?authuser=0&id=11XYVdkM3UITT6DvoiekVCdWaMuPSFtMz&export=download"
CONFIG_WHOOP_ID="gate1"
CONFIG_PARTITION_TABLE_TWO_OTA=
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_two_ota.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"