menu "Whoop Gate Configuration"

    menu "Wifi connect"
        config WIFI_SSID
            string "SSID"
            default "my ssid"
        config WIFI_PASSWORD
            string "PASSWORD"
            default "my password"
    endmenu
    
endmenu
