menu "Whoop Gate Configuration"
    menu "General"
        config WHOOP_ID
            string "ID"
            default "gate1"
    endmenu

    menu "Wifi connect"
        config WIFI_SSID
            string "SSID"
            default "my ssid"
        config WIFI_PASSWORD
            string "PASSWORD"
            default "my password"
    endmenu

    menu "MQTT client"
        config MQTT_URI
            string "URI"
            default "my uri"
    endmenu
endmenu
