menu "Whoop Gate Configuration"
    menu "General"
        config WHOOP_ID
            string "ID"
            default "gate1"
    endmenu

    menu "Wifi connect"
        config WIFI_SSID
            string "SSID"
            default "ssid"
        config WIFI_PASSWORD
            string "PASSWORD"
            default "password"
    endmenu

    menu "MQTT client"
        config MQTT_URI
            string "URI"
            default "uri"
    endmenu

    menu "OTA"
        config OTA_URL
            string "URL"
            default "url"
    endmenu
endmenu
